/* 테스팅용 border */

.info-input-container {
  display: flex;
  margin : auto;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.profile-input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 5px solid gray;
}

.profile-img-container {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
}

.profile-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: block;
  border-radius: 50%;
  margin: auto;
}

.profile-button-container {
  text-align: center;
}

.profile-upload-button {
  width: 200px;
  min-width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #2d9af0;
  border: 1px solid #2d9af0;
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.input-container {
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.input-span {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 50px;
  border: white solid 1px;
  padding: 2px;
  padding-left: 10px;
  align-items: center;

}
.input-span > :last-child {
  display: flex;
  width: 50%;
  flex-direction: column;
  flex-grow: 3;
  color: red;
}


.label-box {
  color: white;
  font-size: 19px;
}

input {
  height: 30px;
  border: none;
  font-size: 19px;
  color: white;
}

.valid-check {
  display: none;
}

.genre-container {
  width: 600px;
  padding: 20px;
}

.desc > span {
  color: white;
}

.genre-box {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.signup-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.signup-container button {
  width: 100px;
  min-width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #2d9af0;
  border: 1px solid #2d9af0;
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 915px) {
  .profile-input-container {
    flex-direction: column;
  }
}
